html{
    /* setar um font-size 10 px para facilitar o cálculo do equivalente rem */
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 7rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

#menu{
    display: flex;
}

header h2 a{
    font-size: 3.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #D2872C;
}

#mobile-button{
    display: none;
}

nav li{
    margin-left: 20px;
}

nav li:hover a{
    text-decoration: underline;
    color: #D2872C;
}

nav a{
    color:#766F68;
    font-size: 2.4rem;
    text-decoration: none;
    transition: 1s all;
    display: block;
    padding: 1rem;
    }


.principal{
    /* margin-left: 8rem;
    margin-right: 5rem; */
    /* position: relative; */
    width: 80rem;
    display: grid;
    margin-left: 10rem;
    grid-template-columns: 30rem 10rem 60rem;
    grid-template-rows: 10rem 20rem 10rem;
    grid-template-areas: "textprincipal img img"
                          "paragraph img img"
                          "button img img"
    ;
}

.text-principal{
    width: 48rem;
    /* margin-left: 12rem; */
}
main h1{
    color:#766F68;
    font-size:7rem;
    font-weight: bold;
    display: inline-block;
    /* position: absolute; */
    width: 58rem;
    grid-area: 'textprincipal';
    position: absolute;
    display: block;
}

main p{
    top: 20rem;
    color:#766F68;
    font-size: 2.8rem;
    /* position: relative;  */
    /* width: 39.05rem; */
    grid-area: 'paragraph';
    line-height: 2.8rem;
    position: relative;
}

.principal-img{
    /* display: inline-block; */
    margin-top: 2rem;
    margin-left: 5.8rem;
}

img {
    max-width:80rem;
    max-height:70rem;
    width: auto;
    height: auto; 
    grid-area: img;
  
}

/* acessibilidade */
.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.button-pattern{
    background-color: #D2872C;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 1.2rem;
    transition: 1s all;
    grid-area: button;
    width: 95%;
    /* height: 60%; */
    /* position: absolute; */
}

.button-pattern:hover{
    cursor: pointer;
    background-color: #7c501b;
    transform: scale(1.2);
}

@media screen and (max-width: 480px) {

        header{
        width: 100vw;
        margin: 3rem 0 0 0;
        }
    
        header h2{
            margin-left: 7rem;
            margin-bottom: 5rem;
            margin-top: 4rem;
        }
    
        header h2 a{
            font-size: 5.4rem;
        }

        #navigation{
            width: 100%;
            margin-left: 18rem;
        }
        
        #mobile-button{
            display: flex;
            padding: 1rem;
            position: relative;
            /* margin-left: 10rem; */
            border: none;
            background:none;
            cursor: pointer;
        }
    
        #menu-hamburguer{
            width: 3.6rem;
            border-top: solid  black 0.4rem;
           
        }
    
    
        span::before, span::after{
            content: '';
            display: block;
            width: 3.6rem;
            height: 0.4rem;
            background: black;
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
            transition: 0.4s all;
        }
                  
        
    
         #menu{
             margin-top: 3rem;
             visibility: hidden;
             width: auto;
             height: auto;
             z-index: 1000;
             background-color:#e2e2e2;
             color: white;
             position: absolute;
             right: -32rem;
             top: 12rem;
             border-radius: 2rem;
         }
    
         #menu::before{
            content: '';
            visibility: hidden;
            width: 3.6rem;
            height: 2.4rem;
            clip-path:  polygon(50% 0%, 0% 100%, 100% 100%);
            background-color: #e2e2e2;
            position: absolute;
            top:-2rem;
            margin-left: 1rem;
        }
     
         #menu li:nth-child(1n){
            border-bottom:  rgb(253, 252, 252) solid 0.3rem;
            margin: 0;
            border-radius: 2rem;
         }
    
         #menu li a{
            color:black;
            padding: 2rem;
            transition: 1.2s color;
         }
    
          #menu li a:hover{
              background-color: #9e9e9e;
          }
     
         #navigation.active > #menu{
            display: block;
            visibility: visible;
         }
    
        #navigation.active > #menu::before{
             visibility: visible;
         }
    
        #navigation.active #menu-hamburguer{
            border-top-color: transparent;
        }
    
        #navigation.active #menu-hamburguer::before{
            transform: rotate(135deg);
            background-color: #9e9e9e;
        }
    
        #navigation.active #menu-hamburguer::after{
            transform: rotate(-135deg);
            position: relative;
            top: -.95rem;
            background-color: #9e9e9e;
        }
    
         main{
             /* display: flex;
             align-items: center; */
             display: block;
             margin:0;
             width: 100vw;
             height: 100vh;
         }
       .principal{
           /* display: flex; */
           margin: auto;
           display: block;
           height: 65vh;
       }
    
       .text-principal{
            position: relative;
            top: 40rem;
            width: 100%;
            align-items: center;
            margin-left: 4rem;
            width: 100vw;
       }
    
       .principal h1{
            font-size: 6.5rem;
            font-weight: bold;
            text-align: center;
       }
    
       .principal p{
            font-size: 3rem;
            top: 18rem;
            margin-left: 10rem;
            width: 42rem;
            text-align: center;
        }
        .principal-img{
            position: absolute;
            top:0;
            display: block;
            width: auto;
            height: auto;
            margin: 4rem 0 0 8rem;
        }
        img{
            max-width: 56rem;
            max-height: 100vh;
            width: auto;
            height: auto;
       }
       
       form{
           display: block;
           position: absolute;
           width: 100vw;
           top: 82rem;
           margin-left: 16rem;
           margin-top: 4rem;
       }
    
       .button-pattern{
           width: 94%;
           border-radius: 2.6rem;
           padding: 2rem;
           font-size: 3.8rem;
       }
    }

 @media screen and (max-width: 1050px) and (min-width:481px) {
    header{
        margin-bottom: 14rem;
    }

    header h2 a{
        font-size: 6.4rem;
    }

    #navigation{
        position: absolute;
        right: -30rem;
    }

    #navigation ul li a{
        font-size: 3.8rem;
    }

    img{
        margin-right: 2rem;
    }

    form{
        margin-top: 6rem;
    }
}