html{
    /* setar um font-size 10 px para facilitar o cálculo do equivalente rem */
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

#menu{
    display: flex;
}

header h2 a{
    font-size: 3.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #D2872C;
}

#mobile-button{
    display: none;
}

nav li{
    margin-left: 20px;
}

nav li:hover a{
    text-decoration: underline;
    color: #D2872C;
}

nav a{
    color:#766F68;
    font-size: 2.4rem;
    text-decoration: none;
    transition: 1s all;
    display: block;
    padding: 1rem;
    }


.principal{
    margin-left: 8rem;
    margin-right: 5rem;
    position: relative;
    display: flex;
}

.text-principal{
    width: 48rem;
}
main h1{
    color:#766F68;
    font-size:8rem;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    width: 58rem;
}

main p{
    top: 20rem;
    color:#766F68;
    font-size: 3.4rem;
    /* width: 48rem; */
    position: relative; 

}

.principal-img{
    display: inline-block;
    margin-right: -16.8rem;
}

img {
    max-width:89vw;
    max-height:79vh;
    width: auto;
    height: auto;  
}

/* acessibilidade */
.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

form{
    width: 100%;
    margin-left: 8rem; 
    display: inline-block;
    position: relative;
    top: -12rem;
}

.button-pattern{
    background-color: #D2872C;
    font-size: 3.4rem;
    font-weight: bold;
    color: white;
    border: none;
    width: 25%;
    border-radius: 1.4rem;
    padding: 2rem;
    transition: 1s all;
}

.button-pattern:hover{
    cursor: pointer;
    background-color: #7c501b;
    transform: scale(1.2);
}

@media screen and (max-width: 480px) {

    header{
    position: relative;
    }

    header h2 a{
        font-size: 5.4rem;
        margin-left: 4rem;
        margin-bottom: 5rem;
        margin-top: 4rem;
    }

    main{
        margin: 0;
    }
    
   .principal{
       display: block;
       margin:0;
   }

   .text-principal{
        /* display: block; */
        /* margin-top: 30rem; */
        position: relative;
        top: 37rem;
        
   }

   .principal h1{
        font-size: 6rem;
        display: block;
        font-weight: bold;
        text-align: center;
   }

   .principal p{
        display: block;
        font-size: 3rem;
        text-align: center;
        margin-left: 4rem;
        top: 16rem;
        width: 100%;
    }
    .principal-img{
        position: absolute;
        top:0;
        display: block;
        margin-left: 3rem;
    }
   .principal img{
        max-width: 100%;
        width: auto;
        height: auto;
   }
   
   form{
       position: relative;
       top:56rem;
       width: 100%;
   }

   .button-pattern{
       width: 75%;
       margin-left:5.6rem;
       border-radius: 2.7rem;
   }

   #mobile-button{
       display: block;
       position: relative;
       background-color: rgb(218, 218, 218);
       height: 2rem;
       top: -2rem;
       right: -8rem;
   }
    
   #navigation{
       width: 100%;
   }

    #menu{
        display: none;
        position: absolute;
        width: auto;
        top: 6rem;
        height: auto;
        z-index: 1000;
        background-color: #766f6856;
        color: white;
    }

    #menu li{
        border-bottom:  rgba(0, 0, 0, 0.055) solid 0.3rem;
    }

    #navigation.active > #menu{
       display: block;
    }


}